<?xml version="1.0" encoding="utf-8" ?>
<!-- Author: Mads Mikkel Rasmussen -->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionString configSource="MadsMikkel.Schedulator.DataAccess\Connections.config"/>
</configuration>